<p id="notice"><%= notice %></p>

<div class="white">

<h1>Employees</h1>

<div class="row">
  <div class="col-xs-2"><strong>First Name</strong></div>
  <div class="col-xs-3"><strong>Last Name</strong></div>
  <div class="col-xs-2"><strong>Company</strong></div>
  <div class="col-xs-5"><strong>Options</strong></div>
</div>

<% @employees.each do |employee| %>
<div class="row">
    <div class="col-xs-2"><%= employee.first_name %> </div>
    <div class="col-xs-3"><%= employee.last_name %> </div>
    <div class="col-xs-2"><%= employee.company %> </div>
    <div class="col-xs-5"><%= link_to '<span class="label label-success">Show</span>'.html_safe,employee %> <%= link_to '<span class="label label-warning">Edit</span>'.html_safe, edit_employee_path(employee) %> <%= link_to '<span class="label label-danger">Delete</span>'.html_safe, employee, method: :delete, data: { confirm: 'Are you sure?' } %> </div>
  </div>
<% end %>
<br>
<br>

<%= link_to 'New Employee', new_employee_path %>

</div>
