<div class="white">
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p id="notice" ><%= notice %></p>
</div>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @pet.notes %>
</p>

<p>
  <strong>Client:</strong>
  <%= @pet.client %>
</p>

<div class="row">
  <div class="col-xs-12" id="index-main-button">
<%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_pet_path(@pet) %> <%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, pets_path %>
</div>
</div>
</div>