<p id="notice" ><%= notice %></p>


<div class="white">

<h1>Clients</h1>

<div class="row">
  <div class="col-xs-2"><strong>First Name</strong></div>
  <div class="col-xs-3"><strong>Last Name</strong></div>
  <div class="col-xs-2"><strong>Pets</strong></div>
  <div class="col-xs-5"><strong>Options</strong></div>
</div>

<% @clients.each do |client| %>
<div class="row">
    <div class="col-xs-2"><%= client.first_name %> </div>
    <div class="col-xs-3"><%= client.last_name %> </div>
    <div class="col-xs-2"><%= client.pets.map { |pet| pet.name }.join(", ") %> </div>
    <div class="col-xs-5"><%= link_to '<span class="label label-success">More</span>'.html_safe, client %>
      <%= link_to '<span class="label label-warning">Edit</span>'.html_safe, edit_client_path(client) %>
      <%= link_to '<span class="label label-danger">Delete</span>'.html_safe, client, method: :delete, data: { confirm: 'Are you sure? This will delete all billing records and pets associated with this client.' } %> </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12" id="index-main-button">
<%= link_to '<button type="button" class="btn btn-primary">New Client</button>'.html_safe, new_client_path %>
</div>
</div>

</div>
