#notice
  = notice
.white
  %h4= "Ledger for #{@client.full_name}"
  #ledger-header.row
    .col-xs-2
      %strong
        Date
    .col-xs-4
      %strong
        Description
    .col-xs-2
      %strong
        Credit
    .col-xs-2
      %strong
        Charge
    .col-xs-2
      %strong
        Balance
  - balance = BigDecimal.new(0)
  - @transactions.each do |transaction|
    .row
      .col-xs-2
        = transaction.date
      .col-xs-4
        = transaction.description
      .col-xs-2
        - if transaction.credit
          = "$%.2f" % transaction.credit
          - balance += transaction.credit
      .col-xs-2
        - if transaction.charge
          = "$%.2f" % transaction.charge
          - balance -= transaction.charge
      .col-xs-2
        - "$%.2f" % balance
