<p id="notice"><%= notice %></p>

<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Total amount</th>
      <th>Paid amount</th>
      <th>Date billed</th>
      <th>Date paid</th>
      <th>Discount</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.total_amount %></td>
        <td><%= bill.paid_amount %></td>
        <td><%= bill.date_billed %></td>
        <td><%= bill.date_paid %></td>
        <td><%= bill.discount %></td>
        <td><%= bill.client %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
