<p id="notice"><%= notice %></p>

<p>
  <strong>Total amount:</strong>
  <%= @bill.total_amount %>
</p>

<p>
  <strong>Paid amount:</strong>
  <%= @bill.paid_amount %>
</p>

<p>
  <strong>Date billed:</strong>
  <%= @bill.date_billed %>
</p>

<p>
  <strong>Date paid:</strong>
  <%= @bill.date_paid %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @bill.discount %>
</p>

<p>
  <strong>Client:</strong>
  <%= @bill.client %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
