<!-- <p id="notice"><%= notice %></p> -->
<div class="white">
  <header class='bill_header'>
    <div class='company'>
      <%= @company = Company.find_by(id: 1)
          render 'companies/letterhead' %>
    </div><br />
    <div class='client'>
      <strong>For: </strong>
      <%= @client = @bill.client
        render 'clients/letterhead' %>
    </div>  <br />
    <div class='billdate'><strong>Date of Bill:</strong>
      <%= @bill.date_billed.strftime("%m/%d/%y") %>
    </div>
  </header>
  <hr />
  <section class='bill_body'>
    <% @bill.appointments.each do |appt| %>
      <p>
        <strong>Service Type:</strong>&nbsp;<%= appt.service.capitalize %>&nbsp;-&nbsp;
        <strong>Day:</strong>&nbsp;<%= appt.start_time.strftime("%m/%d/%y") %>&nbsp;-&nbsp;
        <strong>Charge:</strong>&nbsp;$<%= appt.charge.to_i %><br />
        <%= appt.description %>
      </p>
    <% end %>
  </section>
  <hr />
  <section class='bill_totals'>
    <p>
      <% if (@bill.discount && @bill.discount > 0) %>
        <strong>Subtotal:</strong>
        $<%= @bill.total_amount.to_i %><br />
        <strong>Discount:</strong>
        $<%= @bill.discount.to_i %><br />
        <hr />
      <% end %>

      <strong>Total:</strong>
      $<%= @bill.total_amount.to_i - @bill.discount.to_i %>
    </p>
    <br />  <br />  <br />  <br />  <br />  <br />
  </section>

  <div class="row">
    <div class="col-xs-12" id="index-main-button">
  <%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_bill_path(@bill) %> <%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, bills_path %>
  </div>
  </div>


</div>
