<%= form_for(@bill) do |f| %>
	<h1>Unbilled Items</h1>
	<div class="white">
		<table id="unbilled">
			<thead>
				<tr>
					<th>Select</th>
					<th style='padding: 5px'>Dates</th>
					<th style='padding: 5px'># of items</th>
					<th>Client</th>
					<th>Charge</th>
					<th>Expand</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @clienthash.each do |key, value| %>
					<% clientappts = @appointments.where(client_id: key).order(:start_time) %>
					<tr style='padding: 5px'>
						<td>
						</td>
						<td style='padding: 5px'>
							<%= clientappts.first.start_time.strftime("%m/%d/%y") %> - 
							<%= clientappts.last.start_time.strftime("%m/%d/%y") %>
						</td>
						<td>
							<%= value %>
						</td>
						<td>
							<% if (clientappts.first.client) %>
								<%= clientappts.first.client.first_name %>&nbsp;
								<%= clientappts.first.client.last_name %>
							<% else %>
								No Client
							<% end %>
						</td>
						<td>
						</td>
						<td>
							<span class='expander glyphicon glyphicon-plus-sign' tag='client<%= key %>'></span>
						</td>
						<td>
						</td>
					</tr>
					<% clientappts.each do |appt| %>
						<tr class='client<%= key %>' hidden='hidden'>
							<td>
								<%= check_box_tag "bill[appt_ids_to_bill][]", appt.id, false, onclick: "unbilledItemCheckbox(this, #{appt.charge.to_i}, #{appt.client.id});" %>
							</td>
							<td>
								<%= appt.start_time.strftime("%m/%d/%y") %>
								<%= appt.start_time.strftime("%I:%M %P") %>
							</td>
							<td colspan='2'>
								<%= appt.description %>
							</td>
							<td>
								<%= appt.charge %>
							</td>
							<td>
								<%= link_to "Open Appt", appt %>
							</td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<p><br />
				<div class="field">
					<%= f.label :discount %>: &nbsp;&nbsp;$<%= f.number_field :discount, value: '0' %>
				</div>
				<div class="field">
					<%= f.label :total_amount %>: &nbsp;&nbsp;$<%= f.number_field :total_amount, readonly: 'readonly' %>
				</div>
				<div class="field">
					<%= f.label "Bill to:" %> &nbsp;&nbsp;
					<%= f.collection_select :client_id, Client.all, :id, :full_name %>
				<div class="field">
					<%= f.label :date_billed %><br>
					<%= f.datetime_select :date_billed %>
				</div>
				<%= f.submit "Create Bill" %>
		</p>
	</div>
<% end %>