<h1>Unbilled Items</h1>
<table id="unbilled">
	<thead>
		<tr>
			<th>Select</th>
			<th>Dates</th>
			<th># of items</th>
			<th>Client</th>
			<th>Expand</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @clienthash.each do |key, value| %>
			<% clientappts = @appointments.where(client_id: key).order(:start_time) %>
			<tr>
				<td>
				</td>
				<td>
					<%= clientappts.first.start_time.strftime("%m/%d/%y") %> - 
					<%= clientappts.last.start_time.strftime("%m/%d/%y") %>
				</td>
				<td>
					<%= value %>
				</td>
				<td>
					<%= clientappts.first.client.first_name %>&nbsp;
					<%= clientappts.first.client.last_name %>
				</td>
				<td>
					Javascript
				</td>
				<td>
				</td>
			</tr>
			<% clientappts.each do |appt| %>
				<tr>
					<td>
						<%= check_box "bill", appt.id %>
					</td>
					<td>
						<%= appt.start_time.strftime("%m/%d/%y") %>
						<%= appt.start_time.strftime("%I:%M %P") %>
					</td>
					<td colspan='3'>
						<%= appt.description %>
					</td>
					<td>
						<%= link_to "Open Appt", appt %>
					</td>
				</tr>
			<% end %>

		<% end %>
	</tbody>
</table>