<p id="notice" ><%= notice %></p>


<div class="white">

<h1>Company Info</h1>

<div class="row">
  <div class="col-xs-3"><strong>Name</strong></div>
  <div class="col-xs-5"><strong>Website</strong></div>
  <div class="col-xs-4"><strong>Options</strong></div>
</div>

<% @companies.each do |company| %>
<div class="row">
    <div class="col-xs-3"><%= company.name %> </div>
    <div class="col-xs-5"><%= company.website %> </div>
    <div class="col-xs-4"><%= link_to '<span class="label label-success">More</span>'.html_safe, company %>
      <%= link_to '<span class="label label-warning">Edit</span>'.html_safe, edit_company_path(company) %>
  </div>
<% end %>
<br>
<br>
</div>
