<%= form_for(@calendar) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button(:apitype, "none", {id: "api_none_button"}) %>
    <%= f.label(:apitype_icloud, "Web only") %>
    <%= f.radio_button(:apitype, "icloud", {id: "api_icloud_button"}) %>
    <%= f.label(:apitype_icloud, "iCloud") %>
    <%= f.radio_button(:apitype, "google", {id: "api_google_button"}) %>
    <%= f.label(:apitype_google, "Google") %>

  </div>
  <div class="field api api_none">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field api api_icloud api_google">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field api api_icloud api_google">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="pull_calendars api api_icloud api_google">
    <br />
    <button type="button" name="pull_calendars" id="pull_calendars">Pull Calendars</button>
    <br /><br />
    Available Calendars:
    <div class="field">
      <div id="calendar_list">
      </div>
    </div>
  </div>
<!--   <div class="field">
    <%= f.label :server_incoming %><br>
    <%= f.text_field :server_incoming %>
  </div>
  <div class="field">
    <%= f.label :server_outgoing %><br>
    <%= f.text_field :server_outgoing %>
  </div> -->
  <div class="field api api_icloud">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field api api_icloud">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>
  
  <div class="row">
    <div class="actions col-xs-12" id="index-main-button">
  <%= f.submit :class => "btn btn-primary"%>
  </div>
  </div>
<% end %>
