<%= form_for(@calendar) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button(:apitype, "none", {id: "api_none_button"}) %>
    <%= f.label(:apitype_icloud, "Web only") %>
    <%= f.radio_button(:apitype, "icloud", {id: "api_icloud_button"}) %>
    <%= f.label(:apitype_icloud, "iCloud") %>
    <%= f.radio_button(:apitype, "google", {id: "api_google_button"}) %>
    <%= f.label(:apitype_google, "Google") %>
  </div>
  <div class="field api api_none">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br />
  </div>
  <div class="field api api_none api_icloud api_google">
    <%= f.label :color %><br />
    <%= f.color_field :color %>
    <span class="ie_color_sample">XXXXXX</span>
    <span class="ie_color_options">
      <%= radio_button("ie_colors", nil, "#000000", {class: "calendar_color_option"}) %>Black

    <%= radio_button("ie_colors", nil, "#FF0000", {class: "calendar_color_option"}) %>Red
    <%= radio_button("ie_colors", nil, "#00FF00", {class: "calendar_color_option"}) %>Green
    <%= radio_button("ie_colors", nil, "#0000FF", {class: "calendar_color_option"}) %>Blue  
    <%= radio_button("ie_colors", nil, "#cc3300", {class: "calendar_color_option"}) %>Amber
    <%= radio_button("ie_colors", nil, "#000066", {class: "calendar_color_option"}) %>Navy
  <%= radio_button("ie_colors", nil, "#006600", {class: "calendar_color_option"}) %>Forest
    <%= radio_button("ie_colors", nil, "#FF0066", {class: "calendar_color_option"}) %>Pink
    </span> 
  </div>
  <div class="field api api_icloud api_google">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field api api_icloud api_google">
    <%= f.label :password %><br>
    <% if (@calendar.password) %>
      <%= f.password_field :password, value: "********" %>
    <% else %>
      <%= f.password_field :password %>
    <% end %>    
  </div>
  <div class="pull_calendars api api_icloud api_google">
    <br />
    <button type="button" name="pull_calendars" id="pull_calendars">Pull Calendars</button>
    <br /><br />
    Available Calendars:
    <div class="field">
      <div id="calendar_list">
      </div>
    </div>
  </div>
<!--   <div class="field">
    <%= f.label :server_incoming %><br>
    <%= f.text_field :server_incoming %>
  </div>
  <div class="field">
    <%= f.label :server_outgoing %><br>
    <%= f.text_field :server_outgoing %>
  </div> -->
  <div class="field api api_icloud">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field api api_icloud">
    <%= f.label :uid %><br>
    <%= f.text_field :uid %>
  </div>

  <div class="row">
    <div class="actions col-xs-12" id="index-main-button">
  <%= f.submit :class => "btn btn-primary"%>
  </div>
  </div>
  <script>
  $(document).on('page:load', function() {
    setApiType('<%= @calendar.apitype %>');
  });
  </script>
<% end %>
