<p id="notice"><%= notice %></p>

<div class="white">

<h1>Calendars</h1>

<div class="row">
  <div class="col-xs-2"><strong>Name</strong></div>
  <div class="col-xs-3"><strong>Type</strong></div>
  <div class="col-xs-2"><strong>Color</strong></div>
  <div class="col-xs-5"><strong>Options</strong></div>
</div>

<% @calendars.each do |calendar| %>
<div class="row">
    <div class="col-xs-2"><%= calendar.name %> </div>
    <div class="col-xs-3"><%= calendar.apitype %> </div>
    <div class="col-xs-2" id="calendar-color" style="background-color: <%= calendar.color %>; height: 20px;"></div>
    <div class="col-xs-5"><%= link_to '<span class="label label-success">More</span>'.html_safe,calendar %> <%= link_to '<span class="label label-warning">Edit</span>'.html_safe, edit_calendar_path(calendar) %> <%= link_to '<span class="label label-danger">Delete</span>'.html_safe, calendar, method: :delete, data: { confirm: 'Are you sure? This will delete all appointments associated with this calendar.' } %> </div>
  </div>
<% end %>
<br>
<br>

<div class="row">
  <div class="col-sm-12" id="index-main-button">
<%= link_to '<button type="button" class="btn btn-primary">New Calendar</button>'.html_safe, new_calendar_path %>
</div>
</div>


</div>
