<div class="white">

  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice" ><%= notice %></p>
  </div>
  <p>
    <strong>Name:</strong>
    <%= @calendar.name %>
  </p>

  <p>
    <strong>API Type:</strong>
    <%= @calendar.apitype %>
  </p>
  <p>
    <strong>URL:</strong>
    <%= @calendar.url %>
  </p>
  <p>
    <strong>UID:</strong>
    <%= @calendar.uid %>
  </p>
  <!--
  <p>
    <strong>Server incoming:</strong>
    <%= @calendar.server_incoming %>
  </p>

  <p>
    <strong>Server outgoing:</strong>
    <%= @calendar.server_outgoing %>
  </p>
  -->
  <p>
    <strong>Username:</strong>
    <%= @calendar.username %>
  </p>

  <p>
    <strong>Password:</strong>
    ********
  </p>

<div class="row">
  <div class="col-xs-12" id="index-main-button">
<%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_calendar_path(@calendar) %> <%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, calendars_path %>
</div>
</div>
