<div id='calendarmain' class='white'>
	<div id='cal-container'>
		<script>
		<%# Display FullCalendar widget %>
		$(document).ready(function() {
		  $('#calendar').fullCalendar({
		  	<%# Calendar header bar %>
				header: {
					left: 'prev,next',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
		  	<%# Loop through and display events %>
		    events: [
				<% @appointments.each do |appt| %>
						<%# Skip anything without a start time %>
						<% if appt.start_time.nil? %>
						  <% next %>
						<% end %>
			      {
			      	  id     : '<%= appt.id %>',
		            title  : '<%= appt.description %>',
		            start  : '<%= appt.start_time.strftime("%Y-%m-%dT%H:%M:%S") %>',
		            <% if !(appt.end_time.nil?) %>
		            end    : '<%= appt.end_time.strftime("%Y-%m-%dT%H:%M:%S") %>',
		            <% end %>
		            color	 : '<%= appt.calendar.color %>',
		            <% if (appt.calendar.color == "#FFFFFF") %>
		            textColor : '#000000',
		            <% end %>
		        },
		    <% end %>
		    ],
		    <%# Event listener for clicking on empty space - create new appt %>
    		dayClick: function(date, jsEvent, view) {
					$.ajax({
				    url: "/appointments/newappt_calendar_window/" + date.format(),
				    type: 'GET'
				  }).done(function(html) {
				  	document.getElementById("appt-modifier").innerHTML = html;
				  	appointmentLoad();
				  })
  			},
		    <%# Event listener for clicking on appointments - edit appt %>
  			eventClick: function(calEvent, jsEvent, view) {
					$.ajax({
				    url: "/appointments/" + calEvent.id + "/editappt_calendar_window",
				    type: 'GET'
				  }).done(function(html) {
				  	document.getElementById("appt-modifier").innerHTML = html;
				  	appointmentLoad();
				  })
    		},
    		fixedWeekCount: false,
    		allDayDefault: false,
    		defaultView: "agendaWeek"
		  })
		});
		</script>
		<div id='calendar'></div>
	</div>
	<aside id='appt-modifier'>
	</aside>
</div>
