<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Employee info - for future use -->
  <!-- <div class="field" >
    <#%= f.text_field :first_name, :placeholder => "First name", :class => "form-control"%>
  </div> -->
  <!-- <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select(:employee_id, Employee.all, :id, :full_name) %>
  </div> -->
  <div class="field">
    <% service_options = @service_types.map do |st| %>
      <% selected = (@appointment.service.to_i == st.id) ? "selected='selected'" : "" %>
      <% "<option value='#{st.id}' data-default-price='#{st.price}' data-billing-name='#{st.billing_display_name}' #{selected}>#{st.name}</option>" %>
    <% end %>
    <%= f.label :service %><br>
    <%= select_tag("appointment[service]", raw(service_options.join), {class: "form-control"}) %>
  </div>
  <div class="field">
    <%= f.label :calendar_id %><br>
    <%= f.collection_select(:calendar_id, @calendars, :id, :name, {}, {:class => "form-control"})%>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= search_field_tag "client-searcher", nil, class: "form-control", placeholder: "Search clients and pets", autocomplete: "off" %>
    <% clients_header = "<option value='' selected='selected'>Select a client...</option>" %>
    <% clients = @clients.map do |client| %>
      <% selected = (@appointment.client_id == client.id) ? "selected='selected'" : "" %>
      <% if (client.pets) %>
        <% pets = client.pets.join(" & ") %>
      <% else %>
        <% pets = "" %>
      <% end %>
      <% "<option value='#{client.id}' data-pets='#{pets}' #{selected}>#{client.dropdown_label}</option>" %>
    <% end %>
    <%= select_tag("appointment[client_id]", raw(clients.unshift(clients_header).join), {class: "form-control"}) %>
    <%# f.collection_select(:client_id, @clients, :id, 
        :dropdown_label, {}, {:class => "form-control"}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :class => "form-control datepicker", :value => displayDate(@appointment.start_time) %><br>
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :class => "form-control datepicker", :value => displayDate(@appointment.end_time) %><br>
  </div>
  <div class="field">
    <%= f.label :reminder_before %> (min)<br>
    <%= f.number_field :reminder_before, :class => "form-control" %>
  </div>
<!--   <div class="field">
    <%= f.label :reminder_after %><br>
    <%= f.number_field :reminder_after, :class => "form-control" %>
  </div> -->
  <div class="field">
    <%= f.label :charge %> - $<br>
    <%= f.number_field :charge, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :class => "form-control" %>
  </div>
  
  <div class="row">
    <div class="actions col-xs-12" id="index-main-button">
  <%= f.submit :class => "btn btn-primary"%>
  </div>
<!--   </div> -->
<% end %>
