<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- <div class="field" >
    <#%= f.text_field :first_name, :placeholder => "First name", :class => "form-control"%>
  </div> -->
  <!-- <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select(:employee_id, Employee.all, :id, :full_name) %>
  </div> -->
  <div class="field">
    <%= f.label :service %><br>
    <%= f.select(:service, options_for_select([['Walk', 'Walk'], ['Day Care', 'Day Care'], ['Overnight', 'Overnight']]),{}, {:class => "form-control"})  %>
  </div>
  <div class="field">
    <%= f.label :calendar_id %><br>
    <%= f.collection_select(:calendar_id, Calendar.all, :id, :name,{}, {:class => "form-control"})%>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.collection_select(:client_id, Client.all, :id, :full_name,{}, {:class => "form-control"}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => "form-control" %><br>
  </div>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time, :class => "form-control datepicker" %><br>
    <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datetimepicker({
        format: "dd MM yyyy - hh:ii"
      });
    });
    </script>
  </div>

  <div class="field">
    <%= f.label :reminder_before %><br>
    <%= f.number_field :reminder_before, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :reminder_after %><br>
    <%= f.number_field :reminder_after, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :charge %><br>
    <%= f.number_field :charge, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
