<div class="white">

  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice" ><%= notice %></p>
  </div>

<p>
  <strong>Service Type:</strong>
  <%= @appointment.service %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @appointment.end_time %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @appointment.charge %>
</p>

<p>
  <strong>Reminder before:</strong>
  <%= @appointment.reminder_before %>
</p>

<p>
  <strong>Reminder after:</strong>
  <%= @appointment.reminder_after %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @appointment.calendar %>
</p>

<p>
  <strong>Client:</strong>
  <%= @appointment.client %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @appointment.bill %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @appointment.employee %>
</p>

<div class="row">
  <div class="col-xs-12" id="index-main-button">
<%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_appointment_path(@appointment) %> <%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, appointments_path %>
</div>
</div>


</div>
